{
  "remote_user": "pls specify SFTP user",
  "remote_host": "pls specify SFTP remote host",
  "password": "pls specify SFTP pwd",
  "remote_path": "/",
  "remote_file": "IMG_4903.jpg",
  "local_file": "IMG_4903.jpg",
  "openweathermap_api_key": "pls enter openweathermap api key"
}
